body {
  background: #fafafa;
  color: #333333;
  margin-top: 10rem;
}

h1, h2, h3, h4, h5, h6, p {
  color: #444444;
  margin-left: 400px;
  margin: 20px;
  text-align: left;
}
table, th, td {
    border:1px solid black;
  }
  th, td {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
tr:hover {background-color: #D6EEEE;}
